<div ng-controller="gameRoomCtrl" class="game-room" >
  <md-content class="autoScroll" layout="column"  layout-fill  layout-align="space-between center">

    <div layout="row" layout-align="space-between center" layout-fill>
      <div class="game-room-slot top-left"></div>
      <div class="game-room-slot top-right"></div>
    </div>

    {{room.name}}
    <div class="game-room-chat">
      <md-virtual-repeat-container class="vertical-container" id="chatroom">
        <div md-virtual-repeat="row in chat" class="repeated-item" flex>
          <b>{{row.user}}</b> : {{row.message}} ({{row.date}})
        </div>
      </md-virtual-repeat-container>

      <form>
        <div layout="row">
          <md-input-container class="md-icon-float" flex="">
            <label>Enter message here</label>
            <md-icon class="material-icons">mail</md-icon>
            <input ng-model="message" type="text" ng-required="true">
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="sendChatMessage()" type="submit">
            <md-icon class="material-icons">send</md-icon>
            <span>Send</span>
          </md-button>
        </div>
      </form>
      <md-button class="md-raised md-primary" ng-click="readChatMessages()">
        <md-icon class="material-icons">refresh</md-icon>
        <span>Refresh</span>
      </md-button>
      <md-button class="md-raised md-primary" ng-click="changeChatStatus()">
        <md-icon class="material-icons">{{chatStatusIcon}}</md-icon>
        <span>{{chatStatusText}}</span>
      </md-button>
    </div>

    <div layout="row" layout-align="space-between center" layout-fill>
      <div class="game-room-slot bottom-left"></div>
      <div class="game-room-slot bottom-right"></div>
    </div>

  </md-content>
</div>
