<md-dialog aria-label="Create Room">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create New Room</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>

    <div ng-controller="roomsCreateRoomCtrl" layout="column" class="room-create-room">
      <md-content layout-padding="" class="autoScroll">

        <div layout="row">
          <md-input-container style="margin-right: 10px;">
          <label>Room Type</label>
          <md-select ng-model="types">
            <md-option ng-repeat="type in types" value="{{type}}">{{type}}</md-option>
          </md-select>
          </md-input-container>
        </div>

        <md-dialog-actions>
          <div layout="row">
            <md-button class="md-primary md-hue-1" ng-click="cancel()">
              <md-icon class="material-icons">add</md-icon>
              <span>Create Room</span>
            </md-button>

            <md-button class="md-primary md-hue-1" ng-click="cancel()">
              <md-icon class="material-icons">close</md-icon>
              <span>Cancel</span>
            </md-button>
          </div>
        </md-dialog-actions>

      </md-content>
    </div>

  </md-dialog-content>

</md-dialog>
