<md-dialog aria-label="Reset your password">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Reset your password</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>

    <div ng-controller="accountForgotPasswordCtrl" layout="column" class="account-forgot-password-form">
      <md-content layout-padding="" class="autoScroll">

        <div layout="row">
          <md-input-container class="md-icon-float" flex="">
            <label>Email</label>
            <md-icon class="material-icons">mail</md-icon>
            <input ng-model="account.user_email" type="email" ng-required="true">
          </md-input-container>
        </div>

        <md-dialog-actions>
          <div layout="row">
            <md-button class="md-primary md-hue-1" ng-click="cancel()">
              <md-icon class="material-icons">security</md-icon>
              <span>Reset my password</span>
            </md-button>

            <md-button class="md-primary md-hue-1" ng-click="cancel()">
              <md-icon class="material-icons">close</md-icon>
              <span>Cancel</span>
            </md-button>
          </div>
        </md-dialog-actions>

      </md-content>
    </div>

  </md-dialog-content>

</md-dialog>
