.account-register-form{
	md-input-container{
		md-select{
			padding: 0px;
			margin-top: 22px;
			-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			-webkit-order: 2;
			-ms-flex-order: 2;
			order: 2;
			md-select-label{
				align-items: baseline;
			}
		}
		input{
			text-align: left;
		}
	}
	md-input-container.md-icon-float:not(:nth-child(1)) > label{
		margin-left: 0px;
	}
}