.event-details {
  .vertical-container {
    height: 250px;
    width: 100%;
    .repeated-item {
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      height: 40px;
      padding-top: 10px;
    }
    .highlight-game-start{
      background-image: url(https://cdn2.iconfinder.com/data/icons/social-media-17/512/whistle__sport_start_soccer_play-512.png);
      width : 20px;
      height: 20px;
      background-size: 20px 20px;
      float:left;
    }
    .highlight-game-end{
      background-image: url(http://365psd.com/images/premium/thumbs/202/finish-line-cartoon-vector-and-illustration-grayscale-hand-drawn-style-isolated-on-white-background-826147.jpg);
      width : 20px;
      height: 20px;
      background-size: 20px 20px;
      float:left;
    }
    .highlight-extension{
      background-image: url(http://www.regentsprep.org/regents/math/geometry/gg2/soccerball.jpg);
      width : 20px;
      height: 20px;
      background-size: 20px 20px;
      float:left;
    }
    .highlight-foul{
      background-image: url(http://www.fontsaddict.com/images/icons/png/27517.png);
      width : 20px;
      height: 20px;
      background-size: 20px 20px;
      float:left;
    }
    .highlight-off-side{
      background-image: url(http://www.regentsprep.org/regents/math/geometry/gg2/soccerball.jpg);
      width : 20px;
      height: 20px;
      background-size: 20px 20px;
      float:left;
    }
    .highlight-goal{
      background-image: url(http://www.regentsprep.org/regents/math/geometry/gg2/soccerball.jpg);
      width : 20px;
      height: 20px;
      background-size: 20px 20px;
      float:left;
    }
    .highlight-yellow-card{
      background-image: url(http://previews.123rf.com/images/hayaship/hayaship1406/hayaship140600004/29671919-cartoon-illustration-of-soccer-referee-showing-yellow-card-Stock-Vector.jpg);
      width : 20px;
      height: 20px;
      background-size: 20px 20px;
      float:left;
    }
    .highlight-red-card{
      background-image: url(http://image.spreadshirtmedia.net/image-server/v1/designs/11555112,width=178,height=178/Soccer---Red-Card.png);
      width : 20px;
      height: 20px;
      background-size: 20px 20px;
      float:left;
    }
  }
}
