<div class="toggle-menu" layout="column" layout-fill="">
  <md-button ng-click="collapse = !collapse" ng-bind="toggleHeader" aria-label="{{toggleHeader}}"></md-button>
  <div class="toggle-menu-inner" ng-class="{'toggle-menu-collapse':collapse, 'toggle-menu-expand':!collapse}">
    <div ng-transclude style="position: relative"></div>
  </div>
</div>
