.game-room {
  .autoScroll{
    position: absolute;
  }
  .game-room-chat {
    width:30%;
    .vertical-container {
      height: 250px;
      width: 100%;
      .repeated-item {
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        height: 40px;
        padding-top: 10px;
      }
    }
  }
  .game-room-slot{
    height: 80px;
    width: 80px;
    background-color: lightslategray;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    position: absolute;
    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
  }
  .game-room-slot:hover{
    height: 810px;
    width: 810px;
  }
  .bottom-right{
    right:0;
    -moz-border-radius: 100% 0 0 0;
    -webkit-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
  }
  .bottom-left{
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
  }
  .top-right{
    right:0;
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0 0 0 100%;
    border-radius: 0 0 0 100%;
  }
  .top-left{
    -moz-border-radius: 0 0 100% 0;
    -webkit-border-radius: 0 0 100% 0;
    border-radius: 0 0 100% 0;
  }
}
