<div ng-controller="eventDetailsCtrl" layout="column" class="event-details"  layout-fill="">
  <md-content layout-padding="" class="autoScroll">

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Event Name</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.name" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Event Status</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.status" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Event Description Short</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.description_short" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Event Description Long</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.description_long" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Event Start Date</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.start_date" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Event End Date</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.end_date" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Event Place Name</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.place.name" type="text" ng-disabled="true">
      </md-input-container>
      <!--<md-input-container class="md-icon-float" flex="">
        <label>Event Place Description</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.place.description" type="text" ng-disabled="true">
      </md-input-container>-->
      <md-input-container class="md-icon-float" flex="">
        <label>Event Place Distance From Me</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.place.distance" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Team Name</label>
        <md-icon><img height="25px" ng-src="{{event.teams[0].team.logo}}"/></md-icon>
        <input ng-model="event.teams[0].team.name" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Team Country</label>
        <input ng-model="event.teams[0].team.country.name_en" type="text" ng-disabled="true">
      </md-input-container>

      <md-input-container class="md-icon-float" flex="">
        <label>Team Name</label>
        <md-icon><img height="25px" ng-src="{{event.teams[1].team.logo}}"/></md-icon>
        <input ng-model="event.teams[1].team.name" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Team Country</label>
        <input ng-model="event.teams[1].team.country.name_en" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <md-radio-group ng-model="event.teams[0].home" layout="row">
          <md-radio-button ng-value="true" ng-disabled="true">home</md-radio-button>
          <md-radio-button ng-value="false" ng-disabled="true">away</md-radio-button>
        </md-radio-group>
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <md-radio-group ng-model="event.teams[1].home" layout="row">
          <md-radio-button ng-value="true" ng-disabled="true">home</md-radio-button>
          <md-radio-button ng-value="false" ng-disabled="true">away</md-radio-button>
        </md-radio-group>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Team Final Score</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[0].final_score" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Team Final Score</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[1].final_score" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Team Fouls</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[0].fouls" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Team Fouls</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[1].fouls" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Team Offsides</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[0].offsides" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Team Offsides</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[1].offsides" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Team Shots On Target</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[0].shots_on_target" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Team Shots On Target</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[1].shots_on_target" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Team Total Shots</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[0].total_shots" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Team Total Shots</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[1].total_shots" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-icon-float" flex="">
        <label>Team Yellow Cards</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[0].yellow_cards" type="text" ng-disabled="true">
      </md-input-container>
      <md-input-container class="md-icon-float" flex="">
        <label>Team Yellow Cards</label>
        <md-icon class="material-icons">security</md-icon>
        <input ng-model="event.teams[1].yellow_cards" type="text" ng-disabled="true">
      </md-input-container>
    </div>

    <md-virtual-repeat-container class="vertical-container">
      <div md-virtual-repeat="highlight in event.highlights" class="repeated-item" flex>
        <div ng-class="{
        'highlight-red-card':highlight.red_card == true,
        'highlight-yellow-card':highlight.yellow_card == true,
        'highlight-goal':highlight.goal == true,
        'highlight-off-side':highlight.off_side == true,
        'highlight-foul':highlight.foul == true,
        'highlight-game-start':highlight.game_start == true,
        'highlight-game-end':highlight.game_end == true,
        'highlight-extension':highlight.extension == true
        }"></div>
        {{highlight.clock_time_formatted}}:{{highlight.description_short}} {{highlight.team.name}} (foul summery : {{highlight.foul_sum}},offside summery : {{highlight.off_side_sum}},red card summery : {{highlight.red_card_sum}},yellow card summery : {{highlight.yellow_card_sum}},team score : {{highlight.team_score}})
      </div>
    </md-virtual-repeat-container>

    <md-virtual-repeat-container class="vertical-container">
      <div md-virtual-repeat="room in event.rooms" class="repeated-item" flex>
        <a ui-sref="rooms_game_room({roomID:{{room.id}}})">room name: {{room.name}} open time: {{room.open_time}}</a>
      </div>
    </md-virtual-repeat-container>
    <md-button class="md-raised md-primary" ng-click="createRoom()">
      <md-icon class="material-icons">add</md-icon>
      <span>Add Room</span>
    </md-button>
  </md-content>
</div>
