<div ng-controller="accountEditCtrl" layout="column" class="account-register-form">

    <md-content layout-padding="" class="autoScroll">

      <div layout="row">
        <md-input-container class="md-icon-float" flex="">
          <label>User Name</label>
          <md-icon class="material-icons">person</md-icon>
          <input ng-model="account.user_name" type="text" ng-required="true">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-icon-float" flex="">
          <label>Password</label>
          <md-icon class="material-icons">security</md-icon>
          <input ng-model="account.password" type="password" ng-required="true">
        </md-input-container>

        <md-input-container class="md-icon-float" flex>
          <label>Password Confirm</label>
          <input ng-model="account.confirm" type="password" ng-required="true" ng-pattern="{{account.password}}">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-icon-float" flex="">
          <label>Email</label>
          <md-icon class="material-icons">mail</md-icon>
          <input ng-model="account.email" type="email" ng-required="true">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-icon-float" flex="">
          <label>First Name</label>
          <md-icon class="material-icons">create</md-icon>
          <input ng-model="account.first_name" type="text" ng-required="true">
        </md-input-container>

        <md-input-container class="md-icon-float" flex="">
          <label>Last Name</label>
          <input ng-model="account.last_name" type="text" ng-required="true">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-icon-float" flex="">
          <label>Address</label>
          <md-icon class="material-icons">place</md-icon>
          <input ng-model="account.street_address" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float" flex="">
          <label>City</label>
          <input ng-model="account.city" type="text" ng-required="true">
        </md-input-container>

        <md-input-container class="md-icon-float" flex="">
          <label>Zipcode</label>
          <input ng-model="account.zip_code" type="text">
        </md-input-container>

				<md-input-container class="md-icon-float" >
					<md-select placeholder="Country" ng-model="account.country" required="">
						<md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>
					</md-select>
				</md-input-container>

      </div>

      <div layout="row">
        <md-input-container class="md-icon-float" flex >
          <label>Birthday</label>
          <md-icon class="material-icons">today</md-icon>
          <input ng-model="account.birth_date" type="date">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-icon-float" flex="">
          <label>Phone Number (Main)</label>
          <md-icon class="material-icons">phone</md-icon>
          <input ng-model="account.phone_number_main" type="number">
        </md-input-container>

        <md-input-container class="md-icon-float" flex="">
          <label>Phone Number (Alt)</label>
          <input ng-model="account.phone_number_alt" type="number">
        </md-input-container>
      </div>

      <div layout="row">

        <md-input-container class="md-icon-float" flex="">
          <label>Id Number</label>
          <md-icon class="material-icons">create</md-icon>
          <input ng-model="account.id_number" type="text">
        </md-input-container>

      </div>

      <md-button class="md-raised md-primary" ng-click="update(account)">
        <md-icon class="material-icons">send</md-icon>
        <span>Submit</span>
      </md-button>

    </md-content>
</div>
