<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
      <md-icon>menu</md-icon>
    </md-button>
    <h2>
      <span ng-bind="pageTitle"></span>
    </h2>
    <span flex=""></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon >more_vert</md-icon>
    </md-button>
  </div>
</md-toolbar>