<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="position:relative">
    <md-content layout-padding="" layout="column">
      <md-button class="md-primary" ng-click="close()" ng-href="/#/account/register">Register Account</md-button>
      <md-button class="md-primary" ng-click="close()" ng-href="/#/account/edit">Edit Account</md-button>
      <md-button class="md-primary" ng-click="close()" ng-href="/#/account/logout">Logout Account</md-button>
      <md-button class="md-primary" ng-click="close()" ng-href="/#/events/by_leagues">Events by leagues</md-button>
      <md-button ng-click="close()" class="md-primary">Close</md-button>
    </md-content>
</md-sidenav>
