<div ng-controller="eventsByLeaguesCtrl" layout="column" class="events-by-leagues"  layout-fill="">
  <md-content layout-padding="" class="autoScroll">

    <div layout="row" layout-align="center center">
      <md-datepicker ng-model="startDate"  md-placeholder="Start date" ng-change="changeDates()"></md-datepicker>
      <md-datepicker ng-model="endDate"  md-placeholder="End date" ng-change="changeDates()"></md-datepicker>
    </div>

    <div ng-repeat="league in leagues">
      <toggle-menu toggle-header="league.name_long">
        <div ng-repeat="event in league.events" layout="column">
          <md-button ng-click="eventDetails(event)">{{event.start_date|date:'yyyy-MM-dd'}} : {{event.name}} [{{event.place.distance}}KM]</md-button>
        </div>
      </toggle-menu>
    </div>

  </md-content>
</div>
