.toggle-menu{
  background-color: #e1e1e1;
  .toggle-menu-inner{
    height:0;
    overflow:hidden;
    -webkit-transition:  0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition:  0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -o-transition:  0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: height;
    position: relative;
    background-color: #f7f7f7;
  }

  .toggle-menu-collapse{
    height: 0;
  }

  .toggle-menu-expand{
    height: 100%;
  }
}
