{% extends "::base.html.twig" %}

{% block title %}BettingServersApplicationBundle:Account:edit{% endblock %}

{% block body %}
<h1>Welcome to the Account:edit page</h1>
{% form_theme form 'form_table_layout.html.twig' %}
{{ form(form) }}
{% endblock %}
