{% extends "::base.html.twig" %}

{% block title %}BettingServersApplicationBundle:Account:login{% endblock %}

{% block body %}
<h1>Welcome to the Account:login page</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ last_username }}
    {% form_theme form 'form_table_layout.html.twig' %}
    {{ form(form) }}
{% endblock %}
