{% extends "::base.html.twig" %}

{% block title %}BettingServersApplicationBundle:Account:verify{% endblock %}

{% block body %}
<h1>Hello {{ name }} Please verify your account at the following link : </h1>
<a href="{{ link }}">{{ link }}</a>
{% endblock %}
