<div ng-controller="accountLoginCtrl" layout="column" class="account-login-form">
	<md-content layout-padding="" class="autoScroll">

    <form>
      <div layout="row">
        <md-input-container class="md-icon-float" flex="">
          <label>User Name</label>
          <md-icon class="material-icons">person</md-icon>
          <input ng-model="account.user_name" type="text" ng-required="true">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-icon-float" flex="">
          <label>Password</label>
          <md-icon class="material-icons">security</md-icon>
          <input ng-model="account.password" type="password" ng-required="true">
        </md-input-container>
      </div>

      <div layout="row">
        <md-button class="md-primary md-hue-1" ng-click="forgotPassword()" type="button">Forgot my password</md-button>
        <span flex=""></span>
        <md-button class="md-primary md-hue-1" ng-click="register()" type="button">Registration</md-button>
      </div>

      <div layout="row">
        <md-button class="md-raised md-primary" ng-click="login(account)" type="submit">
          <md-icon class="material-icons">home</md-icon>
          <span>Login</span>
        </md-button>

        <md-button class="md-raised md-primary" ng-click="fbLogin()" type="button">
          <md-icon class="material-icons">group</md-icon>
          <span>Facebook Login</span>
        </md-button>
      </div>
    </form>
	</md-content>
</div>
