<div ng-controller="eventsBetweenDatesCtrl" layout="column" class="events-between-dates">
  <md-content layout-padding="" class="autoScroll">
    <div  layout="column" layout-fill="">
      <md-whiteframe class="white-frame md-whiteframe-z2" layout="" layout-align="center center" ng-repeat="event in events">
          <span ng-bind="event.event_description_short"></span>
      </md-whiteframe>
    </div>
  </md-content>
</div>
