{% extends "::base.html.twig" %}

{% block title %}BettingServersApplicationBundle:Events:soccer{% endblock %}

{% block body %}

<h1>Welcome to the Events:soccer page</h1>

{% form_theme form 'form_table_layout.html.twig' %}
{{ form(form) }}

<table>
    {%for highlight in highlights %}
        <tr>
                <td>{{ highlight.highlightClockTime|secToMin }}</td>
                <td>{{ highlight.highlightDescriptionShort }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
